/FireMissileMessage.class
/Message.class
/NewGameMessage.class
/PlaceNewShipMessage.class
/PlacingFinishedMessage.class
/RemoveShipMessage.class
/ShootMissileResultMessage.class
/UpdateStringMessage.class
